# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Static files
/static/

# Notebooks
.ipynb_checkpoints

# Miscellaneous
*.pid
*.seed
*.pid.lock